@page
@model HotelReservationSystem.Pages.Errors.ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="container">
    <h2>Error</h2>
    <p>@Model.ErrorMessage</p>
    <a href="/Account/Index" class="btn btn-primary">Back to Home</a>
</div>
